bin/
build/
dist/
docs/topsy-turvy/docs/api/dotnet/
.github/artifacts/
node_modules/
obj/
out/
.vscode-test/
.docusaurus
.cache-loader
xcuserdata/
*.xcuserstate
**/*.xcframework/
apps/apple/TopsyTurvy/Frameworks/include/*
!apps/apple/TopsyTurvy/Frameworks/include/module.modulemap
