.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
scripts/**
.gitignore
.yarnrc
.prettierrc
.prettierignore
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
bin/*.pdb
bin/*.xml
